{% extends "CRUD/base.html" %}

{% block title %} CRUD Operations.. {% endblock %}

{% block body %}
    <div class="container">
        {% if employees %}
            <table>
                <thead>
                    <th> eNo </th>
                    <th> eName </th>
                    <th> eSalary </th>
                    <th> eAdddress </th>
                    <th> Actions </th>
                </thead>
                {% for employe in employees %}
                    <tr>
                        <td> {{ employe.eNo }} </td>
                        <td> {{ employe.eName }} </td>
                        <td> {{ employe.eSalary }} </td>
                        <td> {{ employe.eAddress }} </td>
                        <td><a href="/crud/update/{{ employe.id }}"> update </a> <a href="/crud/delete/{{ employe.id }}"> Delete </a></td>
                    </tr>
                {% endfor %}
            </table>            
        {% endif %}
        <hr>
        <a href="/crud/add" class="btn btn-lg btn-warning"> Add New Employee..</a>
    </div>
{% endblock %}