{% extends "FirstApp/base.html" %} 

{% load static %}

{% block title %} All Messages {% endblock title %}

{% block body %}
    <div class="container text-light bold mt-5 my-5">
        <h1>Messages ..</h1>
        <hr>
    </div>  
    <div class="container mt-5 py-5 text-center">
    <h1 class="text-warning">All Messages..</h1>
        {% if object_list %}
            {% for msg in object_list %}
                <a href="/message/{{ msg.id }}" class="btn btn-lg btn-danger mt-5 mr-5 font-weight-bolder"><h2 class="text-light"></h2>{{ msg.name }}'s Message</h2></a>
            {% endfor %}
        {% else %}
            <p>No Messages Found..</p>
        {% endif %}
    </div>  
    
{% endblock body %}
