<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={% static "css\bootstrap.css" %}>
    <script type="text/javascript" src={% static "js\jquery-3.5.1.slim.min.js" %}></script>
    <script type="text/javascript" src={% static "js\popper.min.js" %}></script>
    <script type="text/javascript" src={% static "js\bootstrap.min.js" %}></script>
    <link rel="stylesheet" href={% static "css\self.css" %}>
    <title>{% block title %} {% endblock %}</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Index</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <       span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link " href="/home/">Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contact/">Contact</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/cart">Cart</a>
                </li>
            </ul>
            <ul class="navbar-nav nav">
                <li>
                    <a class="nav-link btn-dark rounded" href="/accounts/login">Login.</a>
                </li>
                <li>
                    <a class="nav-link btn-dark rounded" href="/accounts/logout">Logout.</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!-- <div class="jumbotron container mt-5">
        <h1>Developer {{date}}</h1>
        <button class=" px-3 mx-5 mt-5 btn btn-outline-success rounded border-dark"><h1>Develop</h1></button>    
    </div> -->
    <hr>
<!-- 
    <div class="container text-centre font-weight-bold">
        <p class="text-success">
            <h1>Your Cookie Count is : {{ count }} </h1>
            <h1>Your Cookie will Expire on : {{ exp }} </h1>
        </p>
    </div> -->
    <div class="white">
        <h1>{% block Heading1 %} {% endblock %}</h1>
        <p>{% block para1 %} {% endblock %}</p>

        <h1>{% block Heading2 %} {% endblock %}</h1>
        <p>{% block para2 %} {% endblock %}</p>

        <h1>{% block Heading3 %} {% endblock %}</h1>
        <p>{% block para3 %} {% endblock %}</p>
    </div>

    {% block body %}
      
    {% endblock body %}

</body>


</html>