{% extends "FirstApp/base.html" %} 

{% block title %} Contact {% endblock %}

{% block body %}
    <div class="container text-light bold">
        <form>
            <div class="form-group mt-5">
                <label for="exampleFormControlInput1"><h3>Name</h3></label>
                <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Your Name Here">
            </div> 
            <div class="form-group mt-5">
                <label for="exampleFormControlInput1"><h3>Email address</h3></label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>        
            <div class="form-group mt-5">
                <label for="exampleFormControlTextarea1"><h3>Your Message</h3></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-2 float-right mt-3">Send</button>
        </form>
    </div>  
    <div class="container">
        {% if data %}
            <table>
                <head>
                    <tr>date</tr>
                    <tr>name</tr>
                    <tr>mail</tr>
                    <tr>Message</tr>
                </head>
                {% for msg in data %}
                    <tr>
                        <td>msg.date</td>
                        <td>msg.name</td>
                        <td>msg.mail</td>
                        <td>msg.Message</td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <p>No Messages Found..</p>
            
        {% endif %}
    </div>  
    
{% endblock body %}
