{% extends "FirstApp/base.html" %} 

{% load static %}

{% block title %} Contact {% endblock title %}

{% block body %}
    <div class="container text-light bold mt-5 my-5">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-warning" value="Send..">
        </form>
    </div>  
    <div class="container mt-5 py-5">
    <h1 class="text-warning">Some Previous Messages..</h1>
        {% if data %}
            <table class="mt-5">
                <thead>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Mail</th>
                    <th>Message</th>
                </thead>
                {% for msg in data %}
                    <tr>
                        <td>{{ msg.date }}</td>
                        <td>{{ msg.name }}</td>
                        <td>{{ msg.mail }}</td>
                        <td>{{ msg.Message }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <p>No Messages Found..</p>
            
        {% endif %}
    </div>  
    
{% endblock body %}
