{% extends "FirstApp/base.html" %} 

{% load static %}

{% block title %} Message Detail {% endblock title %}

{% block body %}
    <div class="container mt-5 py-5">
    <h1 class="text-warning">{{ message.name }}'s Message..</h1>
        <table class="mt-5">
            <thead>
                <th>Date</th>
                <th>Name</th>
                <th>Mail</th>
                <th>Message</th>
            </thead>
                <tr>
                    <td>{{ message.date|timesince }}</td>
                    <td>{{ message.name }}</td>
                    <td>{{ message.mail }}</td>
                    <td>{{ message.Message }}</td>
                </tr>
        </table>
        <hr>
        <div class="container">
            <a href="/messages" class="btn btn-lg btn-danger mt-5 mr-5 ml-5">All Messages..</a>
            <a href="/update/{{message.id}}" class="btn btn-lg btn-danger mt-5 ml-5 mr-5">Edit Message..</a>
            <a href="/delete/{{message.id}}" class="btn btn-lg btn-danger mt-5 ml-5">Delete Message..</a>
        </div>
    </div>  
    
{% endblock body %}
